# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
    'atom-text-editor': [
        {
            'label': 'Run eslint --fix'
            'command': 'auto-prettier-eslint:run'
        }
    ]
    '.tree-view .file': [
        {
            'label': 'Run eslint --fix'
            'command': 'auto-prettier-eslint:run-tree-view'
        }
    ]
'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'auto-prettier-eslint'
            'submenu': [
                {
                    'label': 'Run eslint --fix'
                    'command': 'auto-prettier-eslint:run'
                }
            ]
        ]
    }
]
